$
$ jet_inspect_profiles_x configuration, set varexpr!
$

xvariable  = "refeta"
xtitle     = "#eta"
nbinsx     = 100
xmin       = -5.
xmax       = +5.

selections = "refpt>20.&&refpt<=30."
             "refpt>30.&&refpt<=50."
             "refpt>50.&&refpt<=100."
             "refpt>100.&&refpt<=300."

labels     = "20<p_{T}^{REF}#leq30"
             "30<p_{T}^{REF}#leq50"
             "50<p_{T}^{REF}#leq100"
             "100<p_{T}^{REF}#leq300"

colors     = 632
             600
             417
             618
