$
$ jet_inspect_profiles_x configuration, set varexpr!
$

xvariable  = "refpt"
xtitle     = "p_{T}^{REF} [GeV]"
nbinsx     = 100
xmin       = 10.
xmax       = 1000.

selections = "abs(jteta)<=2.0"
             "abs(jteta)>2.0&&abs(jteta)<=2.4"
             "abs(jteta)>2.4&&abs(jteta)<=3.2"
             "abs(jteta)>3.2&&abs(jteta)<4.7"

labels     = "0.0<|#eta|#leq2.0"
             "2.0<|#eta|#leq2.4"
             "2.4<|#eta|#leq3.2"
             "3.2<|#eta|#leq4.7"

colors     = 632
             600
             417
             618
